@tailwind base;
* {
    scrollbar-width: thin;
    scrollbar-color: var(--secondary) var(--primary);
  }
  
  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 7px;
    height: 7px;
  }
  
  *::-webkit-scrollbar-track {
    background: #60606006;
    padding: 10px;
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: #c7c7c720;
    border-radius: 3px;
  }
  
@tailwind components;
@tailwind utilities;

body{
  height: 100vh;
}